# Entornos virtuales
venv/
face_backend/venv/
face_client/venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de modelos / embeddings locales
face_backend/models/embeddings.pkl

# Archivos temporales
*.log
.DS_Store

# VS Code
.vscode/
